body {
  font-family: sans-serif;
  color: #fff;
  background-color: #222;
  margin: 0;
  padding: 0;
}

.blog-container {
  width: 80%;
  margin: 0 auto;
  padding: 1em;
  border-radius: 5px;
}

.blog-header {
  text-align: center;
}

.title {
  font-size: 2em;
  margin-bottom: 0.5em;
}

.subtitle {
  color: #ddd;
  font-size: 1.2em;
}

.blog-body {
  background-color: #333;
  padding: 1em;
  border-
